#root {
  width: 100%;
  text-align: center;
}

.App {
  top: 0;
  left: 0;
  right: 0;
}

section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.add-entry {
  padding: 20px 0;
}

.text-box {
  display: block;
}

.text-box-item select {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.text-box-item input {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.text-box-item textarea {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 80%;
  height: 300px;
}
